<!DOCTYPE html>
<html>
<head>
    <title>Generate QR Code</title>
</head>
<body>
    <h1>Generate QR Code</h1>
    <form action="/generate_qrcode" method="post">
        <input type="text" name="name" placeholder="Name"><br>
        <input type="text" name="club_name" placeholder="Club Name"><br>
        <input type="text" name="zone" placeholder="Zone"><br>
        <input type="text" name="meal_type" placeholder="Veg/Non-veg"><br>
        <input type="submit" value="Generate QR Code">
    </form>
</body>
</html>
